/target
/engine/node_modules
/packaging/arch/src/
/packaging/arch/pkg/
/packaging/arch/presto/
/packaging/arch/*.pkg.tar.*
/packaging/arch/*.log
/dist
/packaging/arch-bin/src/
/packaging/arch-bin/pkg/
/packaging/arch-bin/*.tar.gz
/packaging/arch-bin/*.pkg.tar.*
